<!-- Help -->
<div class='helpBackground font'>
    <div class='helpOuterContainer'>
        <div class='helpInnerContainer'>
            <div class='row'>
                <div class='bigblock'>
                    <img src='~/Content/Images/helplock.jpg'>
                    <span>Alt + L</span><span>Project beveiligen</span>
                </div>
                <div class='bigblock'>
                    <img src='~/Content/Images/helpcode.jpg'>
                    <span>Ctrl</span><span>Code weergeven</span>
                </div>
                <div class='bigblock'>
                    <img src='~/Content/Images/helpnew.jpg'>
                    <span>Alt + N</span><span>Nieuw bestand</span>
                </div>
            </div>
            <input placeholder='Schrijf hier om de sneltoetsen te filteren.' class='bigInput' autofocus>
            <ul class='helpList'>
                
            </ul>
        </div>
    </div>
</div>