<div id="editor-window" >    
    <div id="editor-header">
        <h1 id="editor-title">Geen bestand geopend.</h1>
        <p id="editor-errors"><img src="~/Content/CodeMirror/bullet_error.png" />: <span id="editor-error-count">0</span></p>
    </div>
    
    <textarea id="editor"></textarea>
</div>