<div id="editorWindow">    
    <div id="editorheader">
        <h1 id="filename">File: {filename}.{extension}</h1>
        <h1 id="errors"><img src="~/Content/CodeMirror/bullet_error.png" />: <span id="errorcount">0</span></h1>
    </div>
    
    <textarea id="editor"></textarea>    
</div>