<div id="newFileWindow">
    <div id="opacityOverlay">
    </div>
    <div id="newFileContent">
        <div id="plusImage"></div>
        <div class="filter_query_wrap">
            <input type="text" placeholder="Type here to create file..." id="newFileName">
            <div id="addButton"></div>
        </div>
        <div id="newFileError"><p id="newFileErrorMessage"></p></div>
    </div>
</div>