<div id="newFileWindow">
    <div id="newFileContent">
        <div id="plusImage"></div>
        <div class="filter_query_wrap">
            <form method="get" id="createFile">
                <input type="text" placeholder="Type here to create your file..." id="newFileName" />
                <div id="addButton"></div>
            </form>
        </div>
    </div>
</div>