<div id="new-file-window">
    <div id="new-file-content">
        <div id="new-file-image"></div>
        <div class="filter-query-wrap">
            <form method="get" id="new-file-form">
                <input type="text" placeholder="Type here to create your file..." autocomplete="off" id="new-file-name" />
                <div id="new-file-add-button"></div>
            </form>
            <p id="new-file-error-message"></p>
        </div>
    </div>
</div>