<div id="openFileWindow" class="window">
	<div id="wrap">
		<form method="post" id="filter">
			<input class="filter_button" type="submit" name="s" value="">
			<div class="filter_query_wrap">
				<input autocomplete="off" class="filter_query" type="text" name="q" placeholder="Type here to filter..." autofocus>
			</div>
		</form>

		<div id="block">
            <div class="highlights">

            </div>
		</div>

		<div id="file_list">

				
		</div>
		<div class="clear"></div>
	</div>
</div>