@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script src="~/Scripts/GuiController.js"></script>
<script src="~/Scripts/Synchronizer.js"></script>
<script type="text/javascript">
    $(function () {

        var editor = CodeMirror.fromTextArea($("#editor")[0], {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            smartIndent: false,
            tabSize: 2,
            theme: "default",
            gutters: ["CodeMirror-linenumbers"]
        });        

        var guiController = new GuiController();
        guiController.registerEditor(editor);        
    });

    function closeMenu() {

        $.event.trigger({ type: 'keyup', keyCode: 27 });        
    }
</script>

<iframe id="preview" frameborder="0"></iframe>
<div id="overlay"></div>
<div id="editorWindow">    
    
    <h1>File: {filename}.{extension}</h1>
    <textarea id="editor"></textarea>    
</div>
<div id="editorMenuWindow" tabindex="1">

    <ul>
        <li>@Html.ActionLink("Create a project", "Create", "Project")</li>
        <li>@Html.ActionLink("View project details", "Details", "Project", new { id = 1 }, null)</li>
        <li id="editorMenuWindow-close"><a href="javascript:closeMenu();">Close</a></li>
    </ul>     
</div>
