@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script src="~/Scripts/GuiController.js"></script>
<script src="~/Scripts/Synchronizer.js"></script>
<script type="text/javascript">
    $(function () {

        var editor = CodeMirror.fromTextArea($("#editor")[0], {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            theme: "default",
            gutters: ["CodeMirror-linenumbers"]
        });        

        var guiController = new GuiController();
        guiController.registerEditor(editor);  
    });
</script>

<iframe id="preview" frameborder="0"></iframe>
<div id="overlay"></div>
<div id="editorWindow">    
    <h1>File: {filename}.{extension}</h1>
    <textarea id="editor"></textarea>    
</div>