@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script src="~/Scripts/GuiController.js"></script>
<script type="text/javascript">
    $(function () {

        var hub = $.connection.customHub;
        //var lastKeyDown = undefined;

        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            theme: "default",
            gutters: ["CodeMirror-linenumbers"]
        });        

        hub.client.addMessage = function (codeMessage) {
            
            var title = codeMessage.match(/<title>(.+)<\//im);            

            if (title) {

                document.title = title[1];
            }
            
            $('#preview').contents().find('html').html(codeMessage);
        };

        $.connection.hub.start().done(function () {
            hub.server.send($('#editor').val());

            editor.on('change', function (codeMirror) {
                
                hub.server.send(codeMirror.getValue());
            });
        });

        var guiController = new GuiController('#editorTab', '#toolbar', '#editorContainer', '#overlay');
        guiController.registerEditor(editor);
    });
</script>

<iframe id="preview" frameborder="0"></iframe>
<div id="overlay"></div>
<div id="editorTab">
    <div id="editorContainer">
        <div id="toolbar"></div>    
        <textarea id="editor"></textarea>
    </div>
    
</div>