@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script type="text/javascript">
    $(function(){
        var hub = $.connection.CustomHub;

      /*  var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            theme: "monokai",
            fullscreen: true
        }); */

        $(document).keyup(function (event) {
            if (event.keyCode == 17) {
                $("#editorTab").toggle();
            }
        });

        $("#editorTab").draggable().resizable();
        
    });
</script>

<div id="editorTab">
    <textarea id="editor"></textarea>
</div>