@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script type="text/javascript">
    $(function () {
        var hub = $.connection.CustomHub;

        /*hub.client.addMessage = function (codeMessage) {
            $('#preview').InnerHtml();
        };

        $.connection.hub.start().done(function () {
            hub.server.send($('#editor').val());
        });*/

        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            theme: "monokai",
            fullscreen: true,
            gutters: ["CodeMirror-linenumbers"]
        });

        $(document).keyup(function (event) {
            if (event.keyCode == 17) {
                $("#editorTab").toggle();
                editor.focus();
            }
        });

        $("#editorTab").draggable().resizable();

    });
</script>
<div id="preview"></div>
<div id="editorTab">
    <textarea id="editor"></textarea>
</div>
