@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script type="text/javascript">
    $(function(){
        var hub = $.connection.CustomHub;

        $(document).keyup(function (event) {
            if (event.keyCode == 17) {
                $("#editorTab").toggle();
            }
        });

        $(function () {
            $("#editorTab").draggable();
            $("#editorTab").resizable();
        });
        
        
    });
</script>

<h2>Index</h2>

<div id="editorTab">
    <textarea id="editor"></textarea>
</div>