@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script src="~/Scripts/GuiController.js"></script>
<script src="~/Scripts/Synchronizer.js"></script>
<script type="text/javascript">
    $(function () {

        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            theme: "default",
            gutters: ["CodeMirror-linenumbers"]
        });        

        var guiController = new GuiController('#editorTab', '#toolbar', '#editorContainer', '#overlay', '#preview');
        guiController.registerEditor(editor);
    });
</script>

<iframe id="preview" frameborder="0"></iframe>
<div id="overlay"></div>
<div id="editorTab">
    <div id="editorContainer">
        <div id="toolbar"></div>    
        <textarea id="editor"></textarea>
    </div>
    
</div>