@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<script type="text/javascript">
    $(function () {

        var hub = $.connection.customHub;
        var lastKeyDown = undefined;

        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            value: "",
            lineNumbers: true,
            mode: "htmlmixed",
            theme: "monokai",
            fullscreen: true,
            gutters: ["CodeMirror-linenumbers"]
        });

        function editorKeyDown(event) {

            lastKeyDown = event.keyCode;
        }

        function editorKeyUp(event) {

            if (event.keyCode == 17 && lastKeyDown == 17) {

                $('#editorTab').toggle();
                editor.focus();
            }
        }

        $(window).keydown(editorKeyDown);
        $(window).keyup(editorKeyUp);
        
        var iframe = document.getElementById('preview');
        $(iframe.contentDocument).keydown(editorKeyDown);
        $(iframe.contentDocument).keyup(editorKeyUp);

        //$(window).keydown(function (event) {

        //    lastKeyDown = event.keyCode;
        //    console.log("keyDown: " + event.keyCode);
        //});
                
        //$(document.getElementById('preview').contentWindow.document).keydown(function (event) {

        //    lastKeyDown = event.keyCode;
        //    console.log("keyDown: " + event.keyCode);
        //});

        //$(window).keyup(function (event) {

        //    console.log("keyUp: " + event.keyCode);
        //    if (event.keyCode == 17 && lastKeyDown == 17) {

        //        $("#editorTab").toggle();
        //        editor.focus();
        //    }            
        //});

        //$(document.getElementById('preview').contentWindow.document).keyup(function (event) {

        //    console.log("keyUp: " + event.keyCode);
        //    if (event.keyCode == 17 && lastKeyDown == 17) {

        //        $("#editorTab").toggle();
        //        editor.focus();
        //    }
        //});

        $("#editorTab").draggable({ ifraneFix: true, cancel: '#editor', handle: '#toolbar' }).resizable();

        hub.client.addMessage = function (codeMessage) {
            
            var title = codeMessage.match(/<title>(.+)<\//im);            

            if (title) {

                document.title = title[1];
            }
            //$('#preview').html(codeMessage);
            $('#preview').contents().find('html').html(codeMessage);
        };

        $.connection.hub.start().done(function () {
            hub.server.send($('#editor').val());

            editor.on('change', function (codeMirror) {
                
                hub.server.send(codeMirror.getValue());
            });
        });

    });
</script>

<iframe id="preview" frameborder="0"></iframe>
<div id="editorTab">
    <div id="toolbar" style="height:20px;background-color:red;"></div>
    <textarea id="editor"></textarea>
</div>
