<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="ida:FederationMetadataLocation" value="http://192.168.137.2:57103/Federation/2007-06/FederationMetadata.xml" />
    <add key="ida:Issuer" value="http://192.168.137.2:57103/Issue/WSFederation/" />
    <add key="ida:ProviderSelection" value="productionSTS" />
    <add key="CloudStorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=bioshock;AccountKey=zWDsKxy5GMhG+LwyJAFV/ULo/JEd/BpLjpe4zqmoxbMKdnGHOWvN33E3hkJgIJJek5EbWJ6LOspSB5Z3bXGFvw==" />
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="BioshockContext"
      connectionString="Server=tcp:aoxych1van.database.windows.net,1433;Database=bioshock;User ID=Lisa.Oblivion@aoxych1van;Password=Microsoft.Die();Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->
    <customErrors mode="Off" xdt:Transform="Insert" />
  </system.web>
  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration>
      <audienceUris>
        <add value="http://192.168.137.2:49246/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://192.168.137.2:57103/">
          <keys>
            <add thumbprint="7D9F15661F60FB53902B7A770B82526C70AEB9D7" />
          </keys>
          <validIssuers>
            <add name="http://192.168.137.2:57103/" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
      <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
      <certificateValidation certificateValidationMode="None" />
      <claimsAuthenticationManager type="Lisa.Bioshock.Modules.ClaimsTransformationModule, Lisa.Bioshock" />
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="false" persistentSessionLifetime="00:01:00" />
      <wsFederation passiveRedirectEnabled="true" persistentCookiesOnPassiveRedirects="true" issuer="http://192.168.137.2:57103/Issue/WSFederation/" realm="http://192.168.137.2:49246/" requireHttps="false" reply="http://192.168.137.2:49246/" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>