@model Lisa.Bioshock.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

@Html.ActionLink("Create folder", "Create", "Folder", new {projectid = Model.ID}, null)
@Html.ActionLink("Create file", "Create", "File", new {projectid = Model.ID}, null)

<ul>
@foreach (var item in Model.Root.Items)
{
    <li>@item.Name</li>
}
</ul>